# Files
.DS_Store
.ruby-version
test.sass
npm-debug.log
yarn.lock


# Folders
.idea/
.sass-cache
gh_pages
_site
node_modules
/dist
/lib
**/esm
**/lib
/sdk
/public
/gh-pages
/.vscode/*
/output
/toolkit/amis-renderer
/toolkit/output
/coverage
/schema.json
/npm
/mock/cfc/cfc.zip
.rollup.cache
/theme-npm

dist
tsconfig.tsbuildinfo
lerna-debug.log
.rollup.cache
package-lock.json
revision.json
**/revision.json
~$*


!/.vscode/iconConfig.json
publish.sh

# packages/amis-sdk/package.json 需要提交；只有 sdk/ 是 CI 构建时填充的产物，忽略它
packages/amis-sdk/sdk/
